<!DOCTYPE html>
<html>
  <head>
    <title>FlickrSearch</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "layouts/search" %>
    <% flash.each do |key, value| %>
        <div class="container container-form-2 flash-text alert alert-<%= key %>"><%= value %></div>
      <% end %>
    <%= flash[:message] %>
    <%= yield %>
  </body>
</html>
